<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="hidden" id="username" th:value="${username}"> <!-- Thymeleaf 변수를 설정 -->
<input type="text" placeholder="보낼 메세지를 입력하세요." class="content">
<button type="button" value="전송" class="sendBtn" onclick="sendMsg()">전송</button>
<button type="button" value="방나가기" class="quit" onclick="quit()">방 나가기 </button>
<div>
    <span>메세지</span>
    <div class="msgArea"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        var username = $('#username').val(); // Thymeleaf로 설정된 username 값 가져오기

        let socket = new WebSocket("ws://localhost:8080/ws/chat");

        socket.onopen = function (e) {
            console.log('open server!');
            enterRoom(socket, username); // 사용자 이름과 함께 방에 입장
        };

        socket.onclose=function(e){
            console.log('disconnect');
        };

        socket.onerror = function (e){
            console.log(e);
        };

        //메세지 수신했을 때 이벤트.
        socket.onmessage = function (e) {
            console.log(e.data);
            let msgArea = document.querySelector('.msgArea');
            let newMsg = document.createElement('div');
            newMsg.innerText=e.data;
            msgArea.append(newMsg);
        };

        //메세지 보내기 버튼 눌렀을 떄..
        function sendMsg() {
            let content=document.querySelector('.content').value;
            var talkMsg={"type" : "CHAT","roomId":[[${room.roomId}]],"sender": username,"msg":content};
            socket.send(JSON.stringify(talkMsg));
        }

        function quit(){
            var quitMsg={"type" : "LEAVE","roomId":[[${room.roomId}]],"sender": username,"msg":""};
            socket.send(JSON.stringify(quitMsg));
            socket.close();
            location.href="/chat/chatList";
        }

        // 방에 입장하는 함수
        function enterRoom(socket, username){
            var enterMsg={"type" : "JOIN","roomId":[[${room.roomId}]],"sender": username ,"msg":""};
            socket.send(JSON.stringify(enterMsg));
        }
    });
</script>

</body>
</html>
