{{>layouts/header}}
<a href="/room/new" class="btn btn-primary">방 만들기</a>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">방장</th>
        <th scope="col">제목</th>
        <th scope="col">인원 수</th>
        <th scope="col">예상시간(분)</th>
        <th scope="col">공부 태그</th>
        <th scope="col">방 종류</th>
        <th scope="col">상태</th>
        <th scope="col">썸네일(선택)</th>
    </tr>
    </thead>
    <tbody>
    {{#roomList}}
        <tr>
            <td>{{id}}</td>
            <td>{{author}}</td>
            <td><a href="/room/{{id}}">{{title}}</a></td>
            <td>{{expectedUsers}}</td>
            <td>{{expectedSchedule}}</td>
            <td>{{tags}}</td>
            <td>{{roomType}}</td>
            <td>{{roomStatus}}</td>
            <td>{{thumbnail}}</td>
        </tr>
    {{/roomList}}
    </tbody>
</table>

{{>layouts/footer}}