<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form th:action="@{/rooms/new}" th:object="${form}" method="post">
        <div class="py-5 text-center">
            <h2>방 수정</h2>
        </div>

        <div class="form-group">
            <label>방제목</label>
            <input type="text" th:field="*{update.title}" class="form-control" placeholder="방장명을 입력하세요">
        </div>

        <div class="form-group">
            <label>방 종류</label>
            <select type="text" id="roomType" name="roomType" class="form-control nice-select wide">
                <option value="">==방 종류 선택==</option>
                <option th:each="roomType : ${roomTypes}"
                        th:value="${roomType.name()}" th:text="${roomType.getRoomType()}"></option>
            </select>
        </div>

        <div>
            <div>섬네일 선택</div>
            <div th:each="type : ${thumbnails}" class="form-check form-check-inline">
                <input type="radio" th:field="*{update.thumbnail}" th:value="${type.name()}"
                       class="form-check-input">
                <div>
                    <label th:for="${#ids.prev('thumbnail')}" th:text="${type.getThumbnailType()}" class="form-check-label"></label>
                    <img class="resized-image" th:src="|${type.imgPath}|">
                </div>
            </div>
        </div>


        <button type="submit" class="btn btn-primary">수정완료</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
